.container{
  padding: 170px;
}
.todo-container{
  width: 25vw;
  height: 50vh;
  margin: auto;
  padding: 10px 30px;
}

/* todoinput component */
.input-container{
  display: flex;
  justify-content: space-between;
}
.input-box-todo{
  border: none;
  background-color: rgb(221, 236, 241);
  width: 80%;
  height: 50px;
  border-radius: 10px;
  padding: 0px 5px;
  font-size: 16px;
}
.add-btn{
  width: 15%;
  background-color: #8d4ae7;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* todolist comoponent */
.todo-item{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 10px 0px;
  align-items: center;
  background-color: aliceblue;
  padding-left: 10px;
}
.dlt-btn{
  background-color: #e64d3e;
  border: none;
  height: 40px;
  color: white;
  border-radius: 10px;
  width: 15%;
  cursor: pointer;
}